cdcd
# Database
DATABASE_URL=postgresql://acoustic_user:PASSWORD_DISINI@localhost:5432/acoustic_db

# MQTT
MQTT_BROKER_HOST=127.0.0.1
MQTT_USERNAME=mosquitto_user
MQTT_PASSWORD=PASSWORD_DISINI

# API Security
JWT_SECRET=rahasia_jwt_kalian_disini

