MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=acoustic_device
MQTT_PASSWORD=password
DEVICE_ID=ACOUSTIC-PI-001
ROOM=R402
PUBLISH_INTERVAL_SECONDS=5
CALIBRATION_OFFSET=0
ALSA_DEVICE=plughw:2,0
SAMPLE_RATE=44100
RECORD_SECONDS=2
